*.class
*.log
/bin/
/project/build.properties
/project/project/
/project/target/
/target/
.settings/
.project
*.parquet
.cache-main
.classpath
resources/*
!resources/stopwords.txt
!resources/long_stopwords_list.txt
!resources/Posts-Spark-100.xml

